Links to other notebooks in the same folder:
<a href='http://pivotal.io/data-science'><img src='https://raw.githubusercontent.com/crawles/Logos/master/Pivotal_TealOnWhite.png' width='200px' align='right'></a>

<nav class = "navbar navbar-light bg-faded">
    <ul class = "nav navbar-nav">
        <li class = "">
            <a class = "nav-link">notebook1</a>
        </li>
        <li class = "">
            <a class = "nav-link">notebook2</a>
        </li>
        <li class = "">
            <a class = "nav-link">notebook3</a>
        </li>

# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Import-useful-libraries" data-toc-modified-id="Import-useful-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import useful libraries</a></div><div class="lev1 toc-item"><a href="#Connect-to-Database" data-toc-modified-id="Connect-to-Database-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Connect to Database</a></div><div class="lev1 toc-item"><a href="#Autofill-Table-Names" data-toc-modified-id="Autofill-Table-Names-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Autofill Table Names</a></div><div class="lev1 toc-item"><a href="#Magic-Functions-Useful-for-Interacting-with-the-Cluster" data-toc-modified-id="Magic-Functions-Useful-for-Interacting-with-the-Cluster-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Magic Functions Useful for Interacting with the Cluster</a></div><div class="lev1 toc-item"><a href="#Examples" data-toc-modified-id="Examples-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Examples</a></div><div class="lev2 toc-item"><a href="#Create-Tables" data-toc-modified-id="Create-Tables-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Create Tables</a></div><div class="lev2 toc-item"><a href="#Viewing-a-Table" data-toc-modified-id="Viewing-a-Table-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Viewing a Table</a></div><div class="lev3 toc-item"><a href="#Storing-the-Table-to-a-DataFrame" data-toc-modified-id="Storing-the-Table-to-a-DataFrame-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>Storing the Table to a DataFrame</a></div><div class="lev2 toc-item"><a href="#Using-Variable-Names" data-toc-modified-id="Using-Variable-Names-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Using Variable Names</a></div><div class="lev1 toc-item"><a href="#Create-PL/X-function" data-toc-modified-id="Create-PL/X-function-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Create PL/X function</a></div>

# Import useful libraries

In [1]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
import getopt
import os
import sys
import urllib

from IPython.core.display import display, HTML
from IPython.core.magic import register_cell_magic, register_line_cell_magic, register_line_magic
# If we want to move the graph
# %matplotlib notebook
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pandas.io.sql as psql
import psycopg2
import seaborn as sns

# Credentials file to connect to database
import credentials
from mpp_plotting_functions import *
from sql_functions import *

/Users/crawles/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
# Changes logo to a Pivotal logo
jPrefs = urllib.urlopen("https://raw.githubusercontent.com/crawles/Logos/master/jupyterPrefs.js").read()
HTML('<script>{}</script>'.format(jPrefs))

In [3]:
# Set default cell width
display(HTML('<style>.container {width:80% !important;}</style>'))

# Set default matplotlib settings
mpl.rcParams['figure.figsize'] = (10, 7)
mpl.rcParams['lines.linewidth'] = 3
mpl.rcParams['figure.titlesize'] = 26
mpl.rcParams['axes.labelsize'] = 18
mpl.rcParams['axes.titlesize'] = 22
mpl.rcParams['xtick.labelsize'] = 14
mpl.rcParams['ytick.labelsize'] = 14
mpl.rcParams['legend.fontsize'] = 16

# Set seaborn colours
blue, green, red, purple, yellow, cyan = sns.color_palette()

# Connect to Database

In [4]:
conn = psycopg2.connect(**credentials.login_info_dict)
conn.autocommit = True

# Set the schema name
schema_name = 'template'
psql.execute('SET search_path TO {}'.format(schema_name), conn)

# Autofill Table Names
One downside of interacting with a remote database in Python is that table names will not be imported in. When this is run, it will import all of the schema names as classes and their respective table names as variables. That way, when we type a schema name, we can use tab completion to list out all of its columns.

In [5]:
class Schema:
    def __init__(self, tables):
        for t in tables:
            exec('self.{t} = "{t}"'.format(t=t))

def refresh_tables(conn):
    """Refreshes the auto-fill tables."""
    sql = '''
    SELECT table_schema, array_agg(table_name::TEXT) AS tables
      FROM information_schema.tables
     GROUP BY table_schema;
    '''
    info_df = psql.read_sql(sql, conn)

    for row in info_df.iterrows():
        command = '''
        global {s}
        {s} = Schema({tables})
        '''.format(s=row[1][0], tables=row[1][1])
        exec(dedent(command))

# Magic Functions Useful for Interacting with the Cluster
These functions allow us to type write and run raw SQL a cell with the magic function at the top.

In [6]:
@register_cell_magic
def readsql(line, cell):
    """
    Extract the code in the specific cell (should be valid SQL), 
    and execute it using the connection object to the backend 
    database. The resulting pandas DataFrame is rendered inline 
    below the cell using IPython.display. You'd use this for SELECT.
    
    Returns a DataFrame with the name specified in the magic
    function. If this is not specified, then the DataFrame
    is called _df. This also takes in an option "-h", followed 
    by a number. This will show only the specified number of rows
    in the DataFrame.
    """
    
    # Use the global connection object defined above.
    global conn
    optlist, args = getopt.getopt(line.split(), 'ih:')
    optdict = dict(optlist) 
    # If '-h' tag is specified, set the number of rows to display
    if '-h' in optdict:
        head_num = int(optdict['-h'])
    
    # Do string formatting. If a PL/Python function
    # is being created, then it should not try and
    # format whatever is inside the function.
    split_cell = cell.split('$')
    if '-i' not in optdict:
        if len(split_cell) > 1:
            split_cell[0] = split_cell[0].format(**globals())
            split_cell[-1] = split_cell[-1].format(**globals())
            cell = '$'.join(split_cell)
        elif len(split_cell) == 1:
            cell = cell.format(**globals()) 
    
    # If there is more than one table name specified,
    # throw an exception.
    if len(args) > 1:
        raise Exception('More than one table name specified.')

    elif len(args) == 1:
        # If a table name is specified, store it as that
        table_name = args[0]
        globals()[table_name] = psql.read_sql(cell, conn)
        if '-h' in optdict:
            # If head_num is not 0, then display rows
            if head_num != 0:
                display(globals()[table_name].head(int(optdict['-h'])))
        else:
            display(globals()[table_name])

    else:
        # Otherwise, call it _df
        global _df
        _df = psql.read_sql(cell, conn)
        if '-h' in optdict:
            # If head_num is not 0, then display rows
            if head_num != 0:
                display(_df.head(head_num))
        else:
            display(_df)
            
    refresh_tables(conn)

@register_cell_magic
def execsql(line, cell):
    """
    Extract the code in the specific cell (should be valid SQL),
    and execute it using the connection object to the backend 
    database. You'd use this for CREATE/UPDATE/DELETE.
    """
    
    # Use the global connection object defined above.
    global conn
    optlist, args = getopt.getopt(line.split(), 'ih:')
    optdict = dict(optlist)
    
    # Do string formatting. If a PL/Python function
    # is being created, then it should not try and
    # format whatever is inside the function.
    split_cell = cell.split('$')
    if '-i' not in optdict:
        if len(split_cell) > 1:
            split_cell[0] = split_cell[0].format(**globals())
            split_cell[-1] = split_cell[-1].format(**globals())
            cell = '$'.join(split_cell)
        elif len(split_cell) == 1:
            cell = cell.format(**globals())
    psql.execute(cell, conn)
    refresh_tables(conn)

@register_cell_magic
def printsql(line, cell):
    """
    Show the SQL query that will be run.
    """
    
    optlist, args = getopt.getopt(line.split(), 'ih:')
    optdict = dict(optlist)
    
    # Do string formatting. If a PL/Python function
    # is being created, then it should not try and
    # format whatever is inside the function.
    split_cell = cell.split('$')
    if '-i' not in optdict:
        if len(split_cell) > 1:
            split_cell[0] = split_cell[0].format(**globals())
            split_cell[-1] = split_cell[-1].format(**globals())
            cell = '$'.join(split_cell)
        elif len(split_cell) == 1:
            cell = cell.format(**globals())
    print cell

# We delete these to avoid name conflicts for automagic to work
del execsql, readsql, printsql

# Examples
The goal of this notebook is to serve as a template for any new notebooks to avoid the hassle of configuring all the options each time a new notebook is created. Everything below and including this cell is just example code to show how to use the magic functions and auto-fill. They can be removed when actually using this template.

## Create Tables
We can create tables in SQL simply by using a SQL command and putting <code>%%execsql</code> at the very top of the cell.

In [7]:
%%execsql
DROP TABLE IF EXISTS example_data_table;
CREATE TABLE example_data_table
   AS SELECT 1 AS col1,
             2 AS col2, 
             3 AS col3;
            
DROP TABLE IF EXISTS other_table;
CREATE TABLE other_table
   AS SELECT 1;

Now we can check how autocomplete works:

<img src='autofill.png' width= 300px align='left'>

Try it by typing "<code>template.</code>" below then pressing tab.

In [8]:
template.

SyntaxError: invalid syntax (<ipython-input-8-c49221f14fab>, line 1)

## Viewing a Table
We can now view one of the tables that we just created.

In [ ]:
%%readsql
SELECT *
  FROM example_data_table;

By default, this will store the resulting pandas DataFrame into a variable called <code>_df</code>.

In [ ]:
_df

### Storing the Table to a DataFrame

We can also write this to a specific DataFrame. We do this by specifying the DataFrame name as an option in <code>%%readsql</code>.

In [ ]:
%%readsql test_df
SELECT *
  FROM example_data_table

In [ ]:
test_df

Another option is to specify <code>-h</code> and a number, which will show the head of the DataFrame with the number of rows specified by the option, but store the entire DataFrame into the specified variable.

In [ ]:
%%readsql -h 10 df_head
SELECT generate_series(1, 20);

In [ ]:
df_head

## Using Variable Names

We can also use variable table or column names in our commands. We simply create a variable beforehand. This variable, when wrapped inside <code>{</code> and <code>}</code> in our magic function executions, will be replaced by its value. We can view the SQL query that will be executed by using the magic command <code>%%printsql</code>.

In [ ]:
table_name = 'example_data_table'

In [ ]:
%%readsql
SELECT *
  FROM {table_name};

In [ ]:
%%printsql
SELECT *
  FROM {table_name};

In [ ]:
col_name = 'col1'

In [ ]:
%%readsql
SELECT {col_name}
  FROM example_data_table;

In [ ]:
%%printsql
SELECT {col_name}
  FROM example_data_table;

# Create PL/X function

Create a PL/Python machine learning library test function. This function is useful for testing if necessary machine learning libraries are installed and working properly

In [10]:
%%execsql
--# CREATE CUSTOM TYPE
DROP TYPE IF EXISTS version_info CASCADE;
CREATE TYPE version_info AS (
  library text,
  version text
);

DROP FUNCTION IF EXISTS plpy_ml();
CREATE FUNCTION plpy_ml()
RETURNS setof version_info
AS $$
#     import nltk
    import numpy as np
    import scipy
    return [(l.__name__,l.__version__) for l in [scipy,np]]
    import numpy as np
    import pandas as pd
    import scipy
    import statsmodels
    import sklearn

    from sklearn.ensemble import RandomForestClassifier

    df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
    X = df[['A','B','C']]
    y = df['D']

    Xtrain,Xtest,ytrain,ytest = sklearn.cross_validation.train_test_split(X,y,test_size = 0.2)
    cl = RandomForestClassifier()
    cl.fit(Xtrain, ytrain)
    cl.predict(Xtest)
    cl.predict_proba(Xtest)

    [(l.__name__,l.__version__) for l in [nltk,np,pd,scipy,statsmodels,sklearn]]
$$ LANGUAGE plpythonu IMMUTABLE;